<div class=container>

  <div class="profile">
  <%= image_tag "profile_user", class:"avatar-large", alt:"User profile" %>
   <h1>User Name</h1>
  </div>
  <hr>

  <div class="vinyles-cards">
    <% 3.times do %>
      <div class="vinyles-card">
        <%= image_tag "profile_user", class:"avatar", alt:"User profile" %>
        <div>
          <h2>Vinyle 1</h2>
          <p>Description du vinyle</p>
        </div>
      </div>
    <% end %>
  </div>

  <h1>BOUTON</h1>
  <h1>FOOTER</h1>
</div>
