<%# NAVBAR A INTEGRER DANS CHAQUE VIEW %>
  <nav class="navbar">
    <a href="index.html" >
      <%= image_tag "user.png" %>
    </a>
    <a href="search.html">
      <%= image_tag("vinyl1.png") %>
    </a>
    <a href="settings.html">
      <%= image_tag"conversation.png"%>
    </a>
  </nav>
