<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%# TEST


<button class="btn-yes"> X </button>
<br>
<br>
<br>
<button class="btn-no"> N </button>
<br>
<br>
<br>
<button class="btn-add"> + </button>
<br>
<br>
<br>
<button class="btn-lavandia"> Modifier </button>
<br>
<br>
<br>
<button class="btn-lightred"> Delete </button>
<br>
<br>
<br>
<button class="btn-transaction"> Valider </button> %>
