<div class="container">
<h1 class='mt-5'>Modifier un Vinyle</h1>

<%= render "shared/form", vinyle: @vinyle %>

<div class='d-flex justify-content-center'>
<%= link_to "Annuler", vinyle_path(@vinyle), class: "btn btn-lightred" %>
</div>
</div>
