<div class="container">


<%= link_to image_tag("back.png", width: "40px", height: "40px"), root_path, class: "mt-5 d-block" %>

<h1 class='mt-5'>Ajoute ton Vinyle</h1>

<%= render "shared/form", vinyle: @vinyle%>

<div class='d-flex justify-content-center'>
<%= link_to "Annuler", @profile_path, class: "btn btn-lightred" %>
</div>
</div>
