

<% if @matches.exists? %>
  <h2>Your matches</h2>
  <ul>
    <% @matches.each do |match| %>
      <li><%= link_to match.date.strftime("%a %b %e"), match %></li>
    <% end %>
  </ul>
<% end %>

<%= simple_form_for [@match, @message],
  html: {class: "d-flex"} do |f|
%>
  <% other_user = current_user == @match.vinyle.user ? @match.user : @match.restaurant.user %>
  <%= f.input :content,
    label: false,
    placeholder: "Message #{other_user.nickname}",
    wrapper_html: {class: "flex-grow-1"}
  %>
  <%= f.submit "Send", class: "btn btn-primary mb-3" %>
<% end %>
