.bg-blue {
  background-color: $light-blue;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  max-height: 73vh;
  h2 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1px;
  }

  .messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }

  .message {
    // max-width: 80%;
    padding: 10px;
    border-radius: 15px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
  }

  .message-info {
    opacity: 0.5;
    text-align: center;
    width: fit-content;
  }


  .message-content {
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    max-width: 70%;
    width: fit-content;
    word-wrap: break-word;
  }

  .message.sent {
    align-self: flex-end;
    align-items: self-end;

  }

  .message.sent .message-content {
    background: $blue;
    color: $light-gray;
  }

  .message.received {
    align-self: flex-start;
  }

  .message.received .message-content {
    background: $gray-200;
  }
}

.top-chat-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
