.container.chat {
  height: calc(100vh - 115px);
}


.chat {
  background: $light-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  position: fixed;
  top: 115px;

  h2 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1px;
  }

  .messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }

  .message {
    max-width: 60%;
    padding: 10px;
    border-radius: 15px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
  }

  .message-info {
    opacity: 0.5;
    text-align: center;
    width: fit-content;
  }


  .message-content {
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    max-width: 70%;
    width: fit-content;
    word-wrap: break-word;
  }

  .message.sent {
    align-self: flex-end;
  }

  .message.sent .message-content {
    background: $blue;
    color: $light-gray;
  }

  .message.received {
    align-self: flex-start;
  }

  .message.received .message-content {
    background: $gray-200;
  }
}

.vinyles-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background: $light-blue;
  padding-top: 16px;
  padding-bottom: 25px;
}

.vinyle {
  width: 80px;
  height: 80px;
  position: relative;
}

.vinyle-left {
  margin-right: -30px;
  z-index: 2;
  left: -15px;
  top: 2px;
  transform: rotate(-8deg);
}

.vinyle-right {
  margin-left: -30px;
  z-index: 1;
  left: 15px;
  top: 10px;
  transform: rotate(8deg);
}

.vinyle-img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
