
h2 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: "semi-bold";
  font-style: normal;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

hr {
  width: 70%;
  margin: 10px auto;
  margin-top: 2px;
  height: 1px;
}


.pastille {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #F1AEAD;
}

.profile-card {
  img {
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
  }
}
